
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">Universities</div>
            <div class="panel-body">
                <form [formGroup]="adminForm">
                    <input type="text"                                                                                                          formControlName="searchedUniversity"                                                                                                        placeholder="university"
                           class="form-control"> 
                </form>
                <ul  [dragula]='"universities-bag"' data-users="0"  [dragulaModel]='universities'>
                    <li *ngFor="let university of universities">{{university.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-info" >
            <div class="panel-heading">User {{ nickName }} universities </div>
            <div class="panel-body">
                <ul [dragula]='"universities-bag"' data-users="1" [dragulaModel]='universities_added'>
                    <li *ngFor="let university of universities_added; let i = index">{{university.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button [disabled]="!nickName" (click)="submitChanges()" class="form-control btn btn-success">Submit changes</button>
    </div>
</div>
<students-list (userRowSelectedChanged)="selectedRowChanged($event)" [selectedUniversity]="selectedUniversity" ></students-list>
