<div>
    <!-- <h2>Search university</h2> -->
    <!-- <ng2-completer [(ngModel)]="searchStr" [datasource]="searchData" [minSearchLength]="0" [clearSelected]="true" (selected)="onSelected($event)"></ng2-completer> -->
    <!--             <p>Selected: {{selectedColor}}</p>" -->
    
    <h4>Search university</h4>
    <ng2-completer 
        [datasource]="dataRemote"
        [minSearchLength]="1"
        [placeholder]="'Search movie title'"
        [textSearching]="'Please wait...'"
        [inputClass]="'form-control'"
        (selected)="onSelected($event)">
    </ng2-completer>

</div>
