<!-- <nav md-tab-nav-bar (selectChange)="all($event)> -->
<!--     <a md-tab-link routerLink="/universities" routerLinkActive #rla="routerLinkActive" [active]="rlaSafe && rla.isActive">Universities List</a> -->
<!--     <a md-tab-link routerLink="/universities/admin" routerLinkActive #rlab="routerLinkActive" [active]="rlaSafe && rlab.isActive">Admin</a> -->
<!-- </nav> -->
<!-- <router-outlet></router-outlet> -->
<nav md-tab-nav-bar  aria-label="weather navigation links">
    <a md-tab-link
                    *ngFor="let tabLink of tabLinks; let i = index"
                    [routerLink]="tabLink.link"
                    [active]="activeLinkIndex === i"
                    (click)="activeLinkIndex = i">
        {{tabLink.label}}
    </a>
</nav>
<router-outlet></router-outlet>
