
<hr>
<form (ngSubmit)="onSubmit(countriesForm.value)" [formGroup]="countriesForm" >

    <div class="row">
        <label for="inputCountries" class="col-sm-1 col-form-label">Country: </label>
        <div class="col-sm-2">
            <div>
                <input  ng2-auto-complete #countriesSearch 
                formControlName="searchedTerm"
                [source]="countriesArray | async"
                [list-formatter]="autocompleListFormatter"
                (valueChanged)="countryChanged($event)"
                max-num-list = 10
                value-property-name="id"
                display-property-name="name.common"
                (focus)="onFocus(countriesSearch)"
                placeholder="Countries"
                class="form-control">
            </div>
        </div>
    </div>

    <div  class="row">
        <div class="col-sm-12">
            <div class="row">
                <div *ngFor="let country of countriesArray | async | paginate: { id: 'server', itemsPerPage:9, currentPage: p, totalItems: total}" class="col-md-4">
                    <div class="well" style="height:300px">
                        <h4 class="text-success"><span class="flag-icon  flag-icon-size flag-icon-{{country.cca2.toLowerCase()}}"></span>{{country.name.common}} </h4>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</form>
<div class="has-text-centered">
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
