<form novalidate (ngSubmit)="onSubmit(signInForm.value, signInForm.valid)" #signInForm="ngForm" >
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-1 col-form-label">Email: </label>
        <div class="col-sm-2">
            <input type="email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail" placeholder="email">
            <small [hidden]="email.valid || (email.pristine && !signInForm.submitted)" class="text-danger">
                Email is required and format should be <i>john@doe.com</i>.
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-1 col-form-label">Password: </label>
        <div class="col-sm-2">
            <input pattern="(?=.*\d).{6,16}" validateEqual="passwordConfirm" reverse="true" type="password" #password="ngModel" required [(ngModel)]="user.password" name="password" class="form-control" placeholder="password"> 
            <small [hidden]="password.valid || (password.pristine && !signInForm.submitted)" class="text-danger">
                Password is required and needs to be between 6 and 16 containing alphanumeric characters
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-1 col-form-label">Password: </label>
        <div class="col-sm-2">
            <input type="password" pattern="(?=.*\d).{6,16}"  reverse="true" validateEqual="password" #passwordConfirm="ngModel" required [(ngModel)]="user.passwordConfirm" name="passwordConfirm" class="form-control" placeholder="password confirm"> 
            <small [hidden]="passwordConfirm.valid || (passwordConfirm.pristine && !signInForm.submitted)" class="text-danger">
                Password mismatch and needs to be between 6 and 16 containing alphanumeric characters
            </small>
        </div>
    </div>
    <div class="form-group row">
        <button [disabled]="!signInForm.valid" type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<div>
    <auth-message [authError]="authError"></auth-message>
</div><br/>


{{user.email}} - {{user.password}} - {{user.genre}} - {{user.firstName}} - {{user.lastName}}
