<md-toolbar color="primary">
SPA2 |
<a md-button [routerLink]="['/']">
    Home
</a>
<span *ngIf="authService.isLoggedIn">    
    <button md-button [routerLink]="['/countries']">
       Countries 
    </button>
    <a md-button [routerLink]="['/universities']">
        Universities 
    </a>
    <a  md-button [routerLink]="['/logout']">
        Logout
    </a>
</span>
<span *ngIf="!authService.isLoggedIn">    

    <a md-button [routerLink]="['/login']">
        Login 
    </a>
    <a md-button [routerLink]="['/signup']">
        SignUp 
    </a>
</span>
<span> Hello {{ authService.loggedInUser ? authService.loggedInUser.firstName : 'stranger'}} </span>
<div class="flag-icon  flag-icon-size" [ngClass]="country_class" ></div>
</md-toolbar>


