<form novalidate (ngSubmit)="onSubmit(signUpForm.value, signUpForm.valid)" #signUpForm="ngForm" >
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-1 col-form-label">Email: </label>
        <div class="col-sm-2">
            <input type="email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail" placeholder="email">
            <small [hidden]="email.valid || (email.pristine && !signUpForm.submitted)" class="text-danger">
                Email is required and format should be <i>john@doe.com</i>.
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-1 col-form-label">Password: </label>
        <div class="col-sm-2">
            <input pattern="(?=.*\d).{6,16}" validateEqual="passwordConfirm" reverse="true" type="password" #password="ngModel" required [(ngModel)]="user.password" name="password" class="form-control" placeholder="password"> 
            <small [hidden]="password.valid || (password.pristine && !signUpForm.submitted)" class="text-danger">
                Password is required and needs to be between 6 and 16 containing alphanumeric characters
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-1 col-form-label">Password: </label>
        <div class="col-sm-2">
            <input type="password" pattern="(?=.*\d).{6,16}"  reverse="true" validateEqual="password" #passwordConfirm="ngModel" required [(ngModel)]="user.passwordConfirm" name="passwordConfirm" class="form-control" placeholder="password confirm"> 
            <small [hidden]="passwordConfirm.valid || (passwordConfirm.pristine && !signUpForm.submitted)" class="text-danger">
                Password mismatch and needs to be between 6 and 16 containing alphanumeric characters
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="genreOption" class="col-sm-1 col-form-label">Genre: </label>
        <div class="col-sm-2">
            <select id="genreOption" [(ngModel)]="user.genre" name="genres" #genreSelect="ngModel" class="form-control" >
                <option *ngFor="let item of genre | keys" [attr.selected]="item.key == 0 ? true : null" [value]="item.key">{{item.data}}</option>
            </select>
            <small [hidden]="genreSelect.valid || (genreSelect.pristine && !signUpForm.submitted)" class="text-danger">
                Genre is required
            </small>
        </div>

    </div>
    <div class="form-group row">
        <label for="countryOption" class="col-sm-1 col-form-label">Country: </label>
        <div class="col-sm-2">
            <select id="countryOption" [(ngModel)]="user.country" name="country" #countrySelect="ngModel" class="form-control" required>
                <option *ngFor="let country_code of country_codes | async" [value]="country_code.country_code">{{country_code.country}}</option>
            </select>
            <small [hidden]="countrySelect.valid || (countrySelect.pristine && !signUpForm.submitted)" class="text-danger">
                Country is required
            </small>
        </div>

    </div>
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-1 col-form-label">First name: </label>
        <div class="col-sm-2">
            <input type="text"  #inputFirstName="ngModel" required [(ngModel)]="user.firstName" name="firstName" class="form-control" placeholder="first name"> 
            <div [hidden]="inputFirstName.valid || inputFirstName.pristine">
                First name is required
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLastName" class="col-sm-1 col-form-label">Last name: </label>
        <div class="col-sm-2">
            <input type="text" #inputLastName="ngModel" required [(ngModel)]="user.lastName" name="lastName" class="form-control" placeholder="last name"> 
            <div [hidden]="inputLastName.valid || inputLastName.pristine">
                Last name is required
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputUniversities" class="col-sm-1 col-form-label">University: </label>
        <div class="col-sm-2">
            <div ng2-auto-complete [source]="universitiesArray | async" (valueChanged)="universityChanged($event)"  placeholder="search universities">
                <input type="text" id="search_universities" [(ngModel)]="user.university" name="university" #searchUniversities [formControl]="searchedTerm" (focus)="onFocus(searchUniversities)" class="form-control">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>
<div>
    <auth-message [authError]="authError"></auth-message>
</div><br/>

<!-- <ul> -->
<!--     <li *ngFor="let country_code of country_codes | async"> -->
<!--         {{country_code.country}}-{{country_code.country_code}} -->
<!--     </li> -->
<!-- </ul> -->

<!-- <h3>With Array of Strings</h3> -->
<!-- <div ng2-auto-complete [source]="arrayOfStrings" (valueChanged)="valueChanged($event)" placeholder="enter text"> -->
<!--     <input [ngModel]="model1" /> -->
<!-- </div> -->

{{user.email}} - {{user.password}} - {{user.genre}} - {{user.firstName}} - {{user.lastName}}- {{user.country}}- {{user.university}}
