<div *ngIf="selectedUniversity">
    Selected univeristy is {{ selectedUniversity }} 
    <ng2-smart-table [settings]="settings" [source]="source"
        (deleteConfirm)="deleteConfirmation($event)"
        (userRowSelect)="userRowSelected($event)"
        (createConfirm)="confirmConfirmation($event)"
        (editConfirm)="editConfirmation($event)"
        ></ng2-smart-table>

</div>
