.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.app-content{
    padding:20px;
}
.flag-icon-size{
    padding-left: 5em;
    width:3em;
    height:1.5em;
}
